body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
.top-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom:100px;
}
.half-width{
    width:50%;
    padding-left:7%;
}
.half-width img{
    width:85%;
}
.amor-shanti{
    color:#FFA500;
}
.hire-button{
    text-decoration:none;
    color:white;
    font-weight:700;
    background-image:linear-gradient(to bottom left, #FF6C4E, #FF9772);
    padding:10px 25px;
    border-radius:5px;
}
.middle-section{
    display: flex;
}
.moanoghar{
    width: 50%;
    padding-right:7px;
}
.moanoghar img{
    width:76%;
}
